

html {
    box-sizing: border-box;
    font-size: 112.5%;
    line-height: 1.5%;
}
.heading{
    text-align: left;
}
.heading1{
    text-align: right;
}


 
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font: 20px/1.5 Arail Helvetica, sans-serif;
    color:  #3a343a;;

}
.requirements{
    background:  #ededee;
    color: #3a343a;
    width: 80%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    }

.experience-sec{
    text-align: left;
    width: 40%;
}
.started-sec{
    text-align: right;
    width: 40%;  
}
.parent{
    display: flex;
    justify-content: center;
}
.child{
    float: left;
    width: 45%;
    margin: 20px;
}
*{
    box-sizing: border-box;
    justify-content: center;
}
#childa{
    width: 30%;
}
#childb{
    width: 30%;
}
 h2{
    color: #3a343a;
    font-size: 30px;
}

/*our team section*/

@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Josefin Sans', sans-serif;
  background-color: #fafafa;
}

.wrapper{
  margin-top: 20px;

}

.wrapper h1{
  font-family: 'Allura', cursive;
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
}

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: justify;
  flex-wrap: wrap;
}

.team .team_member{
  background:  #e2e6e7;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;  
  position: relative;
}

.team .team_member h3{
  color: #32A0C2 ;
  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p.role{
  color: #ccc;
  margin: 12px 0;
  font-size: 15px;
  text-transform: uppercase;
}

.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
}

.team .team_member .team_img img{
  width: 100px;
  height: 100px;
  padding: 5px;
}

/* contact us section*/
.contact-container{
  width: 90%;
  margin: auto;
  overflow: hidden;
}
/* contact form css */


#contact-section{
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.9)),url(../imgs/contact.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100% ;
  padding-bottom: 2%;
}

#contact-section .contact-container h2{
  text-align: center;
   text-decoration: underline;
    /* text-decoration-color:red; */
    text-underline-position: under;
    color: rgb(238, 235, 235);
    letter-spacing: 2px;
    
}



#contact-section .contact-container p{
  text-align: center; 
  width: 70%; 
  margin-left: auto;
   margin-right: auto; 
   padding-bottom: 3%;
   color: #fff;
   letter-spacing:3px;
}

.contact-form i.fa{
  /* color: red; */
  /* color: #fff; */
  font-size: 22px; 
  padding: 3%;
  background-color: none;
  border-radius: 80%;
  margin: 2%;
  /* border: 2px solid #fff; */
  cursor: pointer;
  border:2px solid rgb(190, 190, 190);
  color: rgb(190, 190, 190);
}

.contact-form i.fa:hover{
  cursor: pointer;
  border:2px solid white;
  color: white;
}
 
  .contact-form{
    display: grid;
    grid-template-columns: auto auto;
     }
  
  .form-info{
    font-size: 16px;
    font-style: italic;
    color: white;
    letter-spacing: 2px;
  }
  input{
    padding: 10px;
    margin:10px;
    width: 70%;
    background-color:rgba(136, 133, 133, 0.5);
    color: white;
    border: none;
    outline:none;
  }

  input::placeholder{
    color: white;
  }

   textarea{
  padding: 10px;
  margin: 10px;     
  width: 70%;
  background-color:rgba(136, 133, 133, 0.5);
  color: white;
  border: none;
  outline:none;
 }
 textarea::placeholder{
   color: white;
 }
 
  

  .submit{
  width: 40%;
  background: none;
  padding: 4px;
  outline: none;
   /* border: 1px solid #fff;
  color: #fff; */
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 33px;
  text-align: center;
  cursor: pointer;
  letter-spacing: 2px;
  margin-left: 3%;
  border:2px solid rgb(190, 190, 190);
  color: rgb(190, 190, 190);
 }

 .submit:hover{
       border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
 }

    /* media queries */
@media (max-width: 768px){

#contact-section .contact-form{
    display: block;
    width: 100%;
    text-align: center;
  }
  #contact-section .submit{

    width: 60%;
  }

}

/*refrencing*/
.reference h3{
text-align: center;
}
.reference-image{
  display:flex;
  justify-content: center;
  padding-bottom: 10px;
}